{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heat Pumps for District Heating</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>
<body>
<header>
<nav class="navbar navbar-dark bg-primary" style="padding:128px 16px" >
    <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
      <img src="https://geothermal.org/sites/default/files/inline-images/logo-footer.png" width="282" height="105" loading="lazy" class="d-block my-1" viewBox="0 0 118 94"><title>Geothermal Rising</title></img>
    </a>
    <a href="#" class="nav-link mb-2 text-dark active"><h2>Home</h2></a>
    <a href="#" class="nav-link mb-2 text-dark active"><h2>Students</h2></a>
    <a href="#" class="nav-link mb-2 text-dark active"><h2>Donate</h2></a>
</nav>
</header>
<div id="app">
{% csrf_token %} 
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
<hr>
<footer class="row row-cols-5 py-5 my-5 border-top">
<div class="col">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
</div>

<div class="col">

</div>

<div class="col">
    <h5>Our work</h5>
    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Students</a></li>
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Donate</a></li>
    </ul>
</div>

<div class="col">
    <h5>External information</h5>
    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">DOE</a></li>
    </ul>
</div>
</footer>

<div class="text-center">
    <p class="text-muted">© 2021 Copyright</p>
    <p>The Geothermal Good Life.</p>
</div>
</div>
</body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                
                },
                csrf_token: "",
                postErrors: {}
            },
            methods: {
                }
            },
        })
    </script>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navBar");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</div>
</html>