{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geothermal Rising Students</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>
<body>
<header>  
  <nav id="navbar">
    <div class="nav-wrapper lighten-2 z-depth-2 active">
      <a href="#!" class="brand-logo-trigger"><img src="static\grc_students.png" loading="lazy" style="max-height: 13rem; max-width:auto"></img></a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="home.html" id="text">Home</a></li>
        <li><a href="students.html" id="text">Students</a></li>
        <li><a href="donate.html" id="text">Donate</a></li>
        <li><a href="#" id="text">Store</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-menu">
    <li><a href="home.html">Home</a></li>
    <li><a href="students.html">Students</a></li>
    <li><a href="donate.html">Donate</a></li>
    <li><a href="#" >Store</a></li>
  </ul>  
</header>

<div id="app">
{% csrf_token %} 
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>
<hr>

</div>
<footer class="page-footer purple lighten-3" id="contact">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Let's get social.</h5>
                    <p class="grey-text text-lighten-4">Share your comments, compliments, and enthusiasm! <a href="email@geothermalrisingsc.org" class="black-text">email<span class="domain">@geothermalrisingsc.org</span></a></p>
                    <a href="https://www.linkedin.com/in/geothermalrisingstudents-committee-3b86201b3/" class="blue darken-4 waves-effect waves-light btn"><i class="fab fa-linkedin"></i> LinkedIn</a>
                    <a href="https://www.facebook.com/GeothermalRisingStudents/" class="blue darken-2 waves-effect waves-light btn"><i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="https://twitter.com/studentcomGRC" class="blue lighten-3 waves-effect waves-light btn"><i class="fab fa-twitter-square"></i> Twitter</a>
                    <a href="https://www.youtube.com/channel/UC4E3FLLNHoRgD0NuwB3OfiA" class="red darken-2 waves-effect waves-light btn"><i class="fab fa-youtube-square"></i> YouTube</a>
                    <p class="grey-text text-lighten-4">Association Memberships:</p>
                    <a href="http://www.geothermal.org"><img src="https://geothermal.org/sites/default/files/styles/full_content/public/2021-02/Stacked%20Logo%20-%20Vertical.png?itok=7LK_2fWB" class="col s4 responsive-img tooltipped" data-position="top" data-tooltip="Geothermal Rising Association" id="simages"></a>
                    <a href="https://womeningeothermal.org/"><img src="https://i1.wp.com/womeningeothermal.org/wp-content/uploads/2020/04/WING_fullColour.png?fit=188%2C188&ssl=1?1636164024" class="col s4 responsive-img tooltipped" data-position="top" data-tooltip="Women in Geothermal" id="simages" style="background-color:white;"></a>
                    <a href="https://www.geothermal-energy.org/"><img src="https://www.geothermal-energy.org/wp-content/uploads/logo/IGA-Logo_RGB_negative-320x215.png" class="col s4 responsive-img tooltipped" data-position="top" data-tooltip="International Geothermal Association" id="simages" style="background-color:black;"></a>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Geothermal Rising Links</h5>
                    <ul>
                        <li><a class="black-text text-lighten-3" href="https://geothermal.org/">Geothermal Rising</a></li>
                        <li><a class="black-text text-lighten-3" href="https://my.geothermal.org/general/pick_username.asp">Student Registration</a></li>
                        <li><a class="black-text text-lighten-3" href="https://www.geothermal-library.org/">Geothermal Library</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright
                <a class="grey-text text-lighten-4 right" href="http://www.nicholasfry.net">The Geothermal Good Life</a>
            </div>
        </div>
    </footer>
</body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems, {}); // {} was options in example code 
        });
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.parallax');
          var instances = M.Parallax.init(elems, {});
        });
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.slider');
          var instances = M.Slider.init(elems, {});
        });
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.tooltipped');
          var instances = M.Tooltip.init(elems, {});
        });
  </script>
    <script>
        const vm = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                
                },
                csrf_token: "",
                postErrors: {}
            },
            methods: {
                }
            },
        })
    </script>
<script>
</script>
</div>
</html>